* {
    margin: 0;
    padding: 0;
}

:root {
    --color-green: #38AF90;
    --color-white: #FFF;
    --color-dark-gray: #797979;
    --color-magenta: #DD7E92;
    --color-light-gray: #F0F0F0;
     font-family: "poppins", sans-serif;


}



header {
   background-color: var(--color-green);
   width: 100%;
   height: 90px;
   display: flex;
   align-items: center;
   justify-content: space-between;
  
}

.logo {
    padding: 15px;
    color: var(--color-white);
    font-weight: 700;
}


.container-avatar img {
    width: 62px;
    padding: 15px;
}

#news {
    background-color: var(--color-white);
    text-align: center;
    margin: 15px;
}
.container-news {
    
    padding-bottom: 20px;
}

.container-news h2 {
    color: var(--color-dark-gray);

}

.card-container {
    background-color: var(--color-light-gray);
}

.container-buttor {
    padding: 20px 0px 30px 0px;
}

#games {
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.container-section-games {
    text-align: center;
}

#inscription {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inscription-container {
    text-align: center;
}


