* {
    margin: 0;
    padding: 0;
}

:root {
    --color-green: #38AF90;
    --color-white: #FFF;
    --color-dark-gray: #797979;
    --color-magenta: #DD7E92;
    --color-light-gray: #F0F0F0;
     font-family: "poppins", sans-serif;


}



header {
   background-color: var(--color-green);
   width: 100%;
   height: 90px;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
  
   
   
  
}
.heade-container {
    
}
.asdas {
   
}

.header-container {
    display: flex;
    align-items: center;
    

}
.logo {
    padding: 15px;
    color: var(--color-white);
    font-weight: 700;
    justify-content: flex-start;
    
    

}

.container-nav-head {
   
}

.logo a {
    
}


.container-avatar img {
    width: 62px;
    padding: 15px;
}
.container-nav-head a {
    
    text-align: left;
}

#news {
    background-color: var(--color-white);
    text-align: center;
    padding-top: 50px;
   
}

.container-news {
    padding-bottom: 20px;

}

.container-news h2 {
    color: var(--color-dark-gray);
    padding-bottom: 20px;
}

.card-container {
    flex-wrap: wrap;
    background-color: var(--color-light-gray);
    border-radius: 8px;
    margin: 10px;
    padding: 15px;
    box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.3);
}

.text-container {
    font-size: 12px;
    font-weight: 700;
    border-bottom: 2px solid var(--color-green);
}

.text-container2 {
    font-size: 10px;
    font-weight: 400;
    color: var(--color-green);
    padding-bottom: 10px;
}

.card-container h3 {
    color: var(--color-green);
    text-align: left;
}

.card-container p {
   
    text-align: left;
}

.card-container a {
    display: flex;
    text-decoration: none;
    color: var(--color-magenta);
    font-weight: 700;
    font-size: 14px;
}

.container-text-one p {
    font-size: 10px;
    font-weight: 400;
    color: var(--color-dark-gray);

}

.item {
    border-bottom: 1px solid var(--color-green);
}

.item2 {
    color: var(--color-green);
}

.container-button {
    padding: 20px 0px 30px 0px;
    text-decoration: none;
    
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
     
}

.container-button a {
    text-decoration: none;
    font-weight: 700;
    color: var(--color-white);
    background-color: var(--color-magenta);
    border-radius: 8px; 
}


#games {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
   
}

.container-section-games {
    text-align: center;
}

#inscription {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0 30px 0px;
    
    margin: 35px 10px 40px 10px;
    border-radius: 8px;
    
    
}
.container-input-pai {
    
    width: 300px;
    
}

.container-nave-mae {
  background-color: var(--color-light-gray);
  padding: 20px 5px 40px 0px;
  border-radius: 8px;
}

.container-input-filho1 {
    padding: 10px;
}

.container-input-filho1 input[type="text"] {
    width: 280px;
    height: 50px;
    border-radius: 4px;
    text-align: center;
}

.container-input-filho1 input[type="email"] {
    width: 280px;
    height: 50px;
    border-radius: 4px;
    text-align: center;
}



#inscription h1 {
    font-size: 24px;
    font-weight: 700;
    color: var(--color-dark-gray);
    padding-bottom: 30px;

}

#inscription h3 {
    color: var(--color-dark-gray);
    font-weight: 400;
}

.inscription-container {
    padding-left: 16px;
}


.inscription-container2 {
    padding-left: 15px;
    padding-top: 30px;
    
}

.container-input-pai {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
}
.container-input-filho1 {
   

}


.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.buttons01 {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.control-button01 {

    background-color: var(--color-magenta);
    border-radius: 8px;
    text-align: center;
    box-sizing: border-box;
    margin: 15px 0 50px 0;
    
}

.control-button01 input {
    font-weight: 700;
    color: var(--color-white);
    background-color: var(--color-magenta);
    border-radius: 8px;
     width: 244px;
    height: 67px;
}


.control-button {
    background-color: var(--color-magenta);
    border-radius: 8px;
    text-align: center;
    box-sizing: border-box;
    margin: 45px 0 10px 0;

}

.control-button input {
    font-weight: 700;
    color: var(--color-white);
    background-color: var(--color-magenta);
    border-radius: 8px;
     width: 244px;
    height: 67px;
}


.control-button2 {
    background-color:var(--color-white);
    width: 244px;
    height: 67px;
    border-radius: 8px;
    text-align: center;
    margin: 5px 0 15px 0;
    
}

.control-button2 input {
   font-weight: 700;
    color: var(--color-magenta);
    background-color: var(--color-white);
    border-radius: 8px;
     width: 244px;
    height: 67px;

}
   
footer {
    width: 100%;
    min-height: 302px;
    background-color: #383838;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-white);
    font-weight: 400;
    
}


.footer-container {
     padding: 30px 0 25px 0;
     color: var(--color-white);
     font-size: 14px;
     font-weight: 400;
     
}

.footer-container p {
    padding: 5px;
    font-size: 14px;
    font-weight: 400;

}


.container-final1 {
    flex-wrap: wrap;
    max-width: 280px;
    padding: 20px 0 45px 0;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    
}

.container-final2 {
    padding-bottom: 8px;
    font-size: 14px;
    font-weight: 400;
}

.container-final3 {
    padding-bottom: 50px;
    font-size: 14px;
    font-weight: 400;
}


#games {
    background-color: var(--color-light-gray);
    padding-top: 35px;
    display: flex;
    align-items: center;
    padding: 70px 0 40px 0;
}

#games h1 {
    color: var(--color-green);
}

.containerç {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-white);
    margin: 20px;
    border-radius: 8px;
}

.items-container {
    flex-direction: column;
    display: flex;
    align-items: center;
    margin: 20px 20px 30px 20px;
}

.items-container h1 {
    padding-top: 20px;
}
.container-img img {
    border-radius: 8px 8px 0px 0px;

}



.container-img h3 {
    font-size: 18px;
    font-weight: 700;
    color: var(--color-dark-gray);
}


.text-img-container p {
    padding-right: 5px;
}


.cont {
    display: flex;
}


.config {
    color: var(--color-green);
    font-size: 10px;
    font-weight: 700;
    padding-right: 3px;
}

.config2 {
    color: var(--color-dark-gray);
    font-size: 10px;
    font-weight: 700;

}

@media(min-width: 576px) {
    

}

@media(min-width: 768px) {
 
}





