* {
    margin: 0;
    padding: 0;
}

:root {
    --color-green: #38AF90;
    --color-white: #FFF;
    --color-dark-gray: #797979;
    --color-magenta: #DD7E92;
    --color-light-gray: #F0F0F0;
     font-family: "poppins", sans-serif;


}



header {
   background-color: var(--color-green);
   width: 100%;
   height: 90px;
   display: flex;
   align-items: center;
   justify-content: space-between;
  
}

.logo {
    padding: 15px;
    color: var(--color-white);
    font-weight: 700;
}


.container-avatar img {
    width: 62px;
    padding: 15px;
}

#news {
    background-color: var(--color-white);
    text-align: center;
    margin: 15px;
}
.container-news {
    
    padding-bottom: 20px;
}

.container-news h2 {
    color: var(--color-dark-gray);

}

.card-container {
    background-color: var(--color-light-gray);
}

.container-buttor {
    padding: 20px 0px 30px 0px;
}

#games {
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.container-section-games {
    text-align: center;
}

#inscription {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.control-button {
    background-color: var(--color-magenta);
    border-radius: 8px;
    text-align: center;
    box-sizing: border-box;
    margin: 45px 0 10px 0;

}

.control-button input {
    font-weight: 700;
    color: var(--color-white);
    background-color: var(--color-magenta);
    border-radius: 8px;
     width: 244px;
    height: 67px;
}


.control-button2 {
    background-color:var(--color-white);
    width: 244px;
    height: 67px;
    border-radius: 8px;
    text-align: center;
    margin: 5px 0 15px 0;
    
}

.control-button2 input {
   font-weight: 700;
    color: var(--color-magenta);
    background-color: var(--color-white);
    border-radius: 8px;
     width: 244px;
    height: 67px;

}
   
footer {
    width: 100%;
    min-height: 302px;
    background-color: #383838;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.footer-container {
     padding: 30px 0 25px 0;
     color: var(--color-white);
     font-size: 14px;
}

.footer-container p {
    padding: 5px;
}


.container-final1 {
    flex-wrap: wrap;
    max-width: 280px;
    padding: 20px 0 45px 0;
    text-align: center;
    
}

.container-final2 {
    padding-bottom: 8px;
}

.container-final3 {
    padding-bottom: 50px;
}




